<%= simple_form_for(@collect_course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :teacher_id %>
    <%= f.input :title %>
    <%= f.input :overview %>
    <%= f.input :education_level_id %>
    <%= f.input :subject_id %>
    <%= f.input :group_id %>
    <%= f.input :volume_id %>
    <%= f.input :image %>
    <%= f.input :is_open %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
