<div class="pb-index-wrapper pb-container">
  <h2>Student Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :username %><br />
      <%= text_field_tag :username%>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email%>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %> 
    </div>

    <div class="field">
      <%= f.label :school %><br />
      <%= text_field_tag :school %>
    </div>

    

    <br>
    <div class="actions">
      <%= hidden_field_tag 'from', 'student' %>
      <%= f.submit "Sign up" %>

    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>


<script>
  $(document).ready(function () {
    $("#new_user").validate({
      rules: {
        "username": {required: true},
        "user[email]": {required: true, email: true},
        "user[password]": {required: true, minlength: 8},
        "user[password_confirmation]": {required: true, equalTo: "#user_password"}
      }
    });
  });
</script>