<div class="pb-index-wrapper pb-container">
  <% if current_user.has_role? :student %>
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <%= render partial: 'partials/course_info', locals: {my_courses: @courses, my_groups: @groups} %>
      </div>
      <div class="col-md-3 col-md-pull-9">
        <%= render partial: 'partials/personal_info', locals: {my_courses: @courses, my_groups: @groups} %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <%= render partial: 'partials/course_info', locals: {my_courses: @courses, my_groups: @groups} %>
      </div>
      <div class="col-md-3 col-md-pull-9">
        <%= render partial: 'partials/personal_info', locals: {my_courses: @courses, my_groups: @groups} %>
      </div>
    </div>

  <% end %>
</div>

<%= content_for :handwrite_js do %>
  <script>
    pumpBox.coursesPathDescriptionOverlayWindowFunction();
  </script>
<% end %>
