<div class="pb-test-wrapper pb-container">

  <div class="test-function-btn-wrapper">
    <a href="#" class="hint-btn">使用提示卡(還有 <span>3</span> 張)</a>
    <a href="#" class="help-btn">HELP</a>

  </div>

  <h2 class="test-title">方程式的拆解與分析 [緊急任務]</h2>

  <section class="test-unit">
    <h3>第 1 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz001.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 2 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz002.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 3 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz003.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 4 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz004.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 5 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz005.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 6 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz006.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 7 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz007.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 8 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz008.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 9 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz009.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 10 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz010.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 11 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'spquiz011.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <div class="test-options-wrapper">
    <a href="#" class="submit">送出答案</a>
  </div>
</div>

<%= content_for :handwrite_js do %>

<% end %>
