<%= simple_form_for([@customized_concept, @test_paper_question]) do |f| %>
  <%= f.error_notification %>


  <%= hidden_field_tag(:group_id, @group.id, as: :hidden)  %>

  <% if @customized_concept.test_paper_questions && !@customized_concept.test_paper_questions.blank? %>
    <%= f.input :question, as: :file, label: "已上傳考卷 : #{@customized_concept.test_paper_questions.first.question_identifier}", wrapper_html: {class: "carrier-wave-field"}%>
  <% else %>
    <%= f.input :question, :as => :file %>
  <% end %>
  

  <%= f.fields_for :test_paper_options do |option| %>
    <%= render 'test_paper_option_fields', :f => option %>
  <% end %>

  <!-- only new page will have this button, edit page will not have -->
  <p><%= link_to_add_fields "新增選項答案", f, :test_paper_options, "btn btn-primary add_new_option", "Add a new Option" %></p>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


