<h1> 符合"<%= @keyword %>"考題 </h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th colspan="1">考題</th>
      <th colspan="1">考題數量 </th>
      <th> 關鍵字 </th>
      <th> 選擇加入</th>
    </tr>
  </thead>

  <tbody>
    <% @test_paper_questions.each do |test| %>
      <tr>
        <td> <%= link_to("預覽考卷", test_paper_question_test_preview_path(test), remote: true, "data-toggle" => "modal", "data-target" => ".bs-example-modal-lg") %> </td>
        <td><%= test.total_test %></td>
        <td><%= test.tag_list %></td>
        <td>
          <%= link_to add_test_path(@customized_concept, test.id),  data: { confirm: '確定加入此試題？' } do %>
            <i class="fa fa-plus"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="test-preview">
    </div>
  </div>
</div>