

<div class="fields">
  <p class="options"> 
    <div class="checkbox">
    <%= f.collection_radio_buttons(:answer, SelectOption.all, :number, :label) do |b|%>
        <%= b.label() { b.radio_button+b.text } %>
    <% end %>
    </div>
  </p>
  <%= f.input :question_number, as: :hidden %>
  <%= f.hidden_field :_destroy %>  
  <%= link_to_remove_fields "remove", f %><br /> 


</div>


<script>
    function add_fields(link, association, content) {  
        var new_id = new Date().getTime();  
        var regexp = new RegExp("new_" + association, "g");  
        $(link).parent().before(content.replace(regexp, new_id));  
    }
    function remove_fields(link) {  
        $(link).prev("input[type=hidden]").val("1");  
        $(link).parent(".fields").slideUp();
    } 
</script>
