<div class="pb-test-wrapper pb-container">

  <div class="test-function-btn-wrapper">
    <a href="#" class="hint-btn">使用提示卡(還有 <span>3</span> 張)</a>
    <a href="#" class="help-btn">HELP</a>

  </div>

  <h2 class="test-title">十字交乘法 [自我挑戰]</h2>

  <section class="test-unit">
    <h3>第 1 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'quiz006.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 2 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'quiz007.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 3 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'quiz008.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
    </div>
  </section>

  <div class="test-options-wrapper">
    <%= link_to '送出答案', result3_path, class: 'submit' %>
  </div>
</div>

<%= content_for :handwrite_js do %>
  <script>
    pumpBox.singleSelectOptionFunction();
  </script>
<% end %>
