<button type="button" class="btn btn-default"><%=link_to("建立課程", new_course_path) %></button>
<table class="table table-striped .table-bordered .table-hover">
  <thead>
    <tr>
      <th>已建立課程</th>
      <th>Overview</th>
    </tr>
  </thead>
  <tbody>
    <% my_courses.each do |c| %>
    <tr>
      <td><%= c.title %></td>
      <td><%= c.overview %></td>
    </tr>
    <% end %>
  </tbody>
</table>



<button type="button" class="btn btn-default"><%= link_to("建立群組", new_teacher_group_path(@users.id)) %></button>
<table class="table table-striped .table-bordered .table-hover">
  <thead>
    <tr>
      <th>已建立群組</th>
      <th>建立時間</th>
    </tr>
  </thead>
  <tbody>
    <% my_groups.each do |group| %>
    <tr>
      <td><%= link_to(group.name, teacher_group_path(group.teacher_id, group)) %></td>
      <td>2015.05.29</td>
    </tr>
    <% end %>
  </tbody>
</table>