<div class="personal-info-wrapper">

  <% if current_user.has_role? :student %>
  <!-- student info -->
    <h3 class="username"><%= @users.username %></h3>
    <p><span class="school-name"><%= @users.school %></span> <span class="grade"><%= @grade %></span></p>


    <%= form_tag("/groups/add_student", method: "post") do %>
      <%= text_field_tag(:group_id) %>
      <%= submit_tag("加入群組") %>
    <% end %>

    <div class="list-group">
      <li class="list-group-item active"><strong>群組</strong></li>
      <% @groups.each do |group| %>
        <li class="list-group-item"><span class="badge">9</span><%= link_to("#{group.name}", group_path(group)) %></li>
      <% end %>
    </div>

    <ul class="list-group">
      <li class="list-group-item list-group-item-warning"><strong>學程</strong></li>
      <% @target_courses.each do |t| %>
      <li class="list-group-item"> <%= radio_button_tag(:education_level_id, t.id, false, data: {remote: true, url: filter_by_level_courses_path}) %> <%= t.title %></li>
      <% end %>
    </ul>

    <ul class="list-group subject-list">
      
    </ul>
    
  <% else %>
    <!-- teacher info   -->
    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @users.username %>
          </div>
          <div class="profile-usertitle-job">
            教授科目：<%= @users.suject %>
          </div>
          <div class="profile-usertitle-job">
            服務單位：<%= @users.service_unit %>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-user"></i>
              Account Settings </a>
            </li>
            <li>
              <a href="#" target="_blank">
              <i class="glyphicon glyphicon-ok"></i>
              Tasks </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-flag"></i>
              Help </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    <br>
    <button type="button" class="btn btn-default"><%= link_to("建立群組", new_teacher_group_path(@users.id)) %></button>
    <!-- list all group -->
    <div class="list-group">
      <li class="list-group-item active"><strong>群組</strong></li>
      <% @groups.each do |group| %>
        <li class="list-group-item"><%= link_to(group.name, teacher_group_path(@users, group.id)) %></li>
      <% end %>
    </div>
    <!-- list all subject -->

    <ul class="list-group">
      <li class="list-group-item list-group-item-warning"><strong>學程</strong></li>
      <% @target_courses.each do |t| %>
      <li class="list-group-item"> <%= radio_button_tag(:education_level_id, t.id, false, data: {remote: true, url: filter_by_level_courses_path}) %> <%= t.title %></li>
      <% end %>
    </ul>

    <ul class="list-group subject-list">
      
    </ul>
  <% end %>

</div>
