<div class="personal-info-wrapper">

  <% if current_user.has_role? :student %>
  <!-- student info -->
    <%= render partial: "partials/personal_avatar", locals: {user: @users} %>
    <%= form_tag("/groups/add_student", method: "post") do %>
      <%= text_field_tag(:group_id) %>
      <%= submit_tag("加入群組") %>
    <% end %>

    <div class="list-group">
      <li class="list-group-item active"><strong>群組</strong></li>
      <% @groups.each do |group| %>
        <li class="list-group-item"><span class="badge">9</span><%= link_to("#{group.name}", group_path(group)) %></li>
      <% end %>
    </div>

    <ul class="list-group">
      <li class="list-group-item list-group-item-warning"><strong>學程</strong></li>
      <% @target_courses.each do |t| %>
      <li class="list-group-item"> <%= radio_button_tag(:education_level_id, t.id, false, data: {remote: true, url: filter_by_level_courses_path}) %> <%= t.title %></li>
      <% end %>
    </ul>

    <ul class="list-group subject-list">
      
    </ul>
    
  <% else %>
    <!-- Teacher info   -->
    <%= render partial: "partials/personal_avatar", locals: {user: @users} %>
    <!-- END Teach info -->
    <br>
    
    <!-- list all group -->
    <div class="list-group">
      <li class="list-group-item active"><strong>群組</strong></li>
      <% @groups.each do |group| %>
        <li class="list-group-item"><%= link_to(group.name, teacher_group_path(@users, group.id)) %></li>
      <% end %>
    </div>
    <!-- list all subject -->

    <ul class="list-group">
      <li class="list-group-item list-group-item-warning"><strong>學程</strong></li>
      <% @target_courses.each do |t| %>
      <li class="list-group-item"> <%= radio_button_tag(:education_level_id, t.id, false, data: {remote: true, url: filter_by_level_courses_path}) %> <%= t.title %></li>
      <% end %>
    </ul>

    <ul class="list-group subject-list">
      
    </ul>
  <% end %>

</div>
