<div class="personal-info-wrapper">

  <div class="avatar-wrapper">
    <%= image_placeholder height: 500, width: 500, text: "avatar", :class => "avatar" %>
  </div>

  <div class="detail-wrapper">
    <h3 class="username"><%= @username %></h3>
    <p><span class="school-name"><%= @school %></span> <span class="grade"><%= @grade %></span></p>
    <p>等級：<span class="level"><%= @level %></span></p>
    <p>金幣：<sapn class="money"><%= @money %></sapn> 枚</p>
  </div>

</div>
