<div class="pb-index-wrapper pb-container">
  <!-- Back Link -->
  <% if current_user.has_role? :student %>
    <%=link_to authenticated_root_path do %> 
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 學生首頁
    <% end %>
  <% else %>
    <%=link_to authenticated_root_path do %> 
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 教師首頁
    <% end %>
  <% end %>
  <!-- End Back Link -->
  
  <div class="row">
    <!-- RIGHT PAGE -->
    <div class="col-md-9 col-md-push-3">
      <%= render partial: "groups/group_course_info", locals: {my_courses: @courses, group: @group} if @courses%>
    </div>
    <!-- END RIGHT PAGE -->

    <!-- LEFT PAGE -->
    <div class="col-md-3 col-md-pull-9">
      <% if current_user.has_role? :student %>
        <p id="notice"><%= notice %></p>
        <h2><%= Teacher.find(@group.teacher_id).username %>老師的群組</h2>
        <h3>建立者：<%= @group.name %></h3>
      <% else %>
        <p id="notice"><%= notice %></p>
        <h2><%= Teacher.find(@group.teacher_id).username %>老師</h2>
        <h3><%= @group.name %></h3>
        <p>
          <strong>Group code:</strong>
          <%= @group.group_code %>
        </p>
        <p><button type="button" class="btn btn-default"><%=link_to("建立課程",new_group_course_path(@group)) %></button></p>
        <p><button type="button" class="btn btn-default"><%= link_to("課程編輯", group_courses_path(@group)) %></button></p>
      <% end %>

      
      <div class="list-group">
        <a href="#" class="list-group-item active">
          群組成員
        </a>
        <% @students.each do |student| %>
        <a href="#" class="list-group-item"><%= student.username %></a>
  
        <% end %>
      </div>
    </div>
    <!-- END LEFT PAGE -->
  </div>

</div>


<!-- Modal : WHEN USER CREATE GROUP SUCCESS -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">成功建立"<%= @group.name %>群組"，群組代碼為：<%= @group.group_code %></h4>
      </div>
      <div class="modal-body">
        <p>學生輸入代碼加入您的群組後，您即可掌握每一位學生的學習狀況。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">我了解</button>
      </div>
    </div>
  </div>
</div>
<!-- END Modal -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>  
  $(document).ready(function() {
    if($("#notice").html().indexOf("Group was successfully created") >= 0) {
      $('#myModal').modal();
    }
  });
</script>





