<div class="pb-index-wrapper pb-container">
  <!-- Back Link -->
  <% if current_user.has_role? :student %>
    <%=link_to authenticated_root_path do %> 
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 學生首頁
    <% end %>
  <% else %>
    <%=link_to authenticated_root_path do %> 
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 教師首頁
    <% end %>
  <% end %>
  <!-- End Back Link -->
  
  <div class="row">
    <div class="col-md-9 col-md-push-3">
      <%= render partial: "groups/group_course_info", locals: {my_courses: @courses, group: @group} if @courses%>
    </div>
    <div class="col-md-3 col-md-pull-9">
      <% if current_user.has_role? :student %>
        <p id="notice"><%= notice %></p>
        <h2><%= Teacher.find(@group.teacher_id).username %>老師的群組</h2>
        <h3>建立者：<%= @group.name %></h3>
      <% else %>
        <p id="notice"><%= notice %></p>
        <h2><%= Teacher.find(@group.teacher_id).username %>老師</h2>
        <h3><%= @group.name %></h3>

        <p>
          <strong>Group code:</strong>
          <%= @group.group_code %>
        </p>
        <p><button type="button" class="btn btn-default"><%=link_to("建立課程",new_group_course_path(@group)) %></button></p>
        <p><button type="button" class="btn btn-default"><%= link_to("課程編輯", group_courses_path(@group)) %></button></p>
      <% end %>

      
      <div class="list-group">
        <a href="#" class="list-group-item active">
          群組成員
        </a>
        <% @students.each do |student| %>
        <a href="#" class="list-group-item"><%= student.username %></a>
  
        <% end %>
      </div>
    </div>
  </div>

</div>





