<div class="pb-test-wrapper pb-container">
  <% if @error_test %>
    <h1> 再試一次</h1>
  <% end %>
  <h2 class="test-title">乘法公式法 [自我挑戰]</h2>
  <%= simple_form_for(@test_attempt) do |f| %>
    
      <div class="form-inputs">
        <%= f.input :customized_concept_id, as: :hidden %>
        <%= f.input :user, as: :hidden %>
      </div>
      
      
        <%= f.fields_for :answer_records do |a| %>


          <% @tests.each_with_index do |test, index| %>
            <% if a.index == index %>
              <section class="test-unit">
                <h3>第 <%= index+1 %> 題</h3>
                <% if @error_test && @error_test[index]%>
                  <div class="jumbotron error"><%= test.question %></div>
                <% else %>
                  <div class="jumbotron"><%= test.question %></div>
                <% end %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <%= a.select :answer, test.options.map {|t|[t.description, t.id]}%>
                  <%= a.input :test, input_html: { value: test.id}, as: :hidden %>
                  <%= a.input :error_times, as: :hidden %>
                </div>
              </section>
            <% end %>
          <% end %>

        <% end %>
      
    

    <div class="form-actions">
      
    </div>

    <div class="test-options-wrapper">
      <%= f.button :submit, "送出答案", class: 'submit' %>
    </div>
  <% end %>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $(".error").addClass("alert alert-danger");
  });
</script>
