<div class="pb-test-wrapper pb-container">
  <% if @error_test %>
    <h1> 再試一次</h1>
  <% end %>
  <h2 class="test-title">自我挑戰</h2>
  <%= simple_form_for(@test_attempt) do |f| %>
      
      <div class="form-inputs">
        <%= f.input :customized_concept_id, as: :hidden %>
        <%= f.input :user, as: :hidden %>
				<%= f.input :retry_time, as: :hidden %>
        <%= f.input :test_time_sec, as: :hidden %>
      </div>
    
        <%= f.fields_for :answer_records do |a| %>

          <% @tests.each_with_index do |test, index| %>
            <% if a.index == index %>
              <section class="test-unit">
                <h3>第 <%= index+1 %> 題</h3>
                <% if @error_test && @error_test.include?(test.id) %>
                  <div class="jumbotron error"><%= raw(test.question) %></div>
                <% else %>
                  <div class="jumbotron"><%= raw(test.question) %></div>
                <% end %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <div class="funkyradio">
                    <%= collection_check_boxes(:select_answers, :"#{test.id}", test.options.all, :id, :description)%>
                  </div>
                  <%= a.input :test, input_html: { value: test.id}, as: :hidden %>
                  <%= a.input :error_times, as: :hidden %>
                </div>
              </section>
            <% end %>
          <% end %>
          
        <% end %>
      
      

    <div class="form-actions">
      
    </div>

    <div class="test-options-wrapper">
      <%= f.button :submit, "送出答案", class: 'submit' %>
    </div>
  <% end %>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $(".error").addClass("alert alert-danger");
  });

</script>

<script>
  $(document).ready(function() {
    $(':input').each(function(){
      var $this = $(this),
      $label = $this.siblings( "label[for=" + $this.attr( "id" ) + "]" );
       $this.add($label).wrapAll( '<div class="funkyradio-default">' );
    });
  });
</script>
