<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= simple_form_for([@course, @customized_concept]) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-group">
        <%= f.input :title %> 
        </div>
        <%= f.input :description, class: "fa fa-user"%>
        <%= f.input :video %>
        

        <% if @test_paper_questions %>
          <%= f.fields_for :test_paper_questions do |test| %>
            <%= render 'test_paper_question_fields', :f => test %>
          <% end %>
        <% end %>

        <% if @tests %>
          <%= f.fields_for :tests do |test| %>
            <%= render 'test_fields', :f => test %>
          <% end %>
        <% end %>
        <% if @test_paper_questions == nil &&  @tests == nil %>
          <p><%= link_to_add_fields "自定考題", f, :tests, "btn btn-primary add_new_test", "Add a new Test" %> 
            <%= link_to_add_fields "上傳考題", f, :test_paper_questions, "btn btn-primary add_paper_test", "Add a new Test" %>
          </p>
        <% end %>
      </div>

        <%= f.input :lecture, as: :file%>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>   

  </div>
</div>


<script>
    function add_fields(link, association, content) {  
        var new_id = new Date().getTime();  
        var regexp = new RegExp("new_" + association, "g");  
        $(link).parent().before(content.replace(regexp, new_id));  
    }
    function remove_fields(link) {  
        $(link).prev("input[type=hidden]").val("1");  
        $(link).parent(".fields").slideUp();
    } 
</script>


