<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= simple_form_for([@course, @customized_concept]) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-group">
        <%= f.input :title %> 
        </div>
        <%= f.input :description, class: "fa fa-user"%>
        <%= f.input :video %><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">影片資料庫</button>
        <%= f.input :lecture, as: :file%>
        <%= f.fields_for :tests do |test| %>
          <%= render 'test_fields', :f => test %>
        <% end %>
        <p><%= link_to_add_fields "Add a new Test", f, :tests, "btn btn-primary", "Add a new Test" %></p>
      </div>
      
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>

    <%= render 'video_modal' %>
    
   

  </div>
</div>


<script> 
  $('.collapse').collapse()
</script>

<script>
    function add_fields(link, association, content) {  
        var new_id = new Date().getTime();  
        var regexp = new RegExp("new_" + association, "g");  
        $(link).parent().before(content.replace(regexp, new_id));  
    }
    function remove_fields(link) {  
        $(link).prev("input[type=hidden]").val("1");  
        $(link).parent(".fields").slideUp();
    } 
</script>



