<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= simple_form_for([@course, @customized_concept]) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-group">
        <%= f.input :title, label: '觀念名稱' %> 
        </div>
        <%= f.input :description, label: '觀念描述' %>
        <%= f.input :video, label: '觀念相關影片連結', placeholder: 'http://..' %>
      </div>

      <% if !@customized_concept.lecture.blank? %>
        <%= f.input :lecture, as: :file, label: "已上傳講義 : #{@customized_concept.lecture_identifier}", wrapper_html: {class: "carrier-wave-field"}%>
      <% else %>
        <%= f.input :lecture, label: '講義', as: :file%>
      <% end %>
      

        
      <%= f.button :submit, "新增", class: "btn btn-primary" %>
    <% end %>   

  </div>
</div>



<script>
    function add_fields(link, association, content) {  
        var new_id = new Date().getTime();  
        var regexp = new RegExp("new_" + association, "g");  
        $(link).parent().before(content.replace(regexp, new_id));  
    }
    function remove_fields(link) {  
        $(link).prev("input[type=hidden]").val("1");  
        $(link).parent(".fields").slideUp();
    } 

    
</script>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


<!-- it cover carrierwave's message : No file chosen -->
<script type="text/javascript">  
  $(document).ready(function () {
     $("input[type=file]").change(function(){
      $(this).parent().removeClass("arrier-wave-field").addClass("carrier-wave-field-uploaded");
     });
  });
</script>
