<div class="alert alert-info" role="alert">
  <% if @customized_concept.test_paper_questions && !@customized_concept.test_paper_questions.blank? %>
    <%= f.input :question, as: :file, label: "已上傳考卷 : #{@customized_concept.test_paper_questions.first.question_identifier}", wrapper_html: {class: "carrier-wave-field"}%>
  <% else %>
    <%= f.input :question, :as => :file %>
  <% end %>
  

  <%= f.fields_for :test_paper_options do |option| %>
    <%= render 'test_paper_option_fields', :f => option %>
  <% end %>

  <% if @test_paper_questions.blank? && @tests.blank? %>
    <p><%= link_to_add_fields "新增選項答案", f, :test_paper_options, "btn btn-primary add_new_option", "Add a new Option" %></p>
  <% end %>
</div>

<script type="text/javascript">  
  $(function(){
   var option_number = 1;
   $(".add_new_option").click(function() {
      $(".options").last().append("第" + option_number + "題答案:");
      $("input[name*=question_number]").last().val(option_number);
      option_number  += 1;
      $(".add_new_test").slideUp();
      $(".add_paper_test").slideUp();
    });
  });
  
</script>




