<div class="col-md-8">
  <iframe src=<%= @concept.test_paper_questions.first.question.url %> width="900" height="780" style="border: none;"> </iframe>
</div>

<div class="col-md-4">
  <table class="table table-striped table-hover">
    <thead>
      <h1> 觀念：<%= @concept.title%> </h1>
      <p><i class="fa fa-calendar"></i> 測驗日期 : <%= @test_paper.created_at.strftime("%Y/%m/%d") %></p>
      <p><i class="fa fa-clock-o"></i> 測驗時間 : <%= Time.at(@test_paper.test_time_sec).utc.strftime("%H:%M:%S") if @test_paper.test_time_sec %></p>
      <tr>
        <th>題號</th>
        <th>錯誤次數 </th>
        <th>是否跳過</th>
        <th>正確答案</th>
        <th>作答記錄</th>
      </tr>
    </thead>

    <tbody>
      <% @test_paper.paper_answer_records.each do |record| %>
      <tr>
        <td><%= record.test %></td>
        <td><%= record.error_times %></td>
        <td><%= record.is_skip %></td>
        <td><%= number_to_letter(@test_paper_options.find_by_question_number(record.test).answer) %></td>
        <td><a tabindex="0" class="btn btn-default" role="button" data-html="true" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="記錄" data-content="<%= list_answer_record(record) %>"><i class="fa fa-info"></i></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>



<script>
$(function () {
  $('[data-toggle="popover"]').popover();
});
</script>