<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @customized_concept.course_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @customized_concept.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customized_concept.description %>
</p>

<p>
  <strong>Video:</strong>
  <%= @customized_concept.video %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @customized_concept.lecture %>
</p>

<%= link_to 'Edit', edit_customized_concept_path(@customized_concept) %> |
<%= link_to 'Back', customized_concepts_path %>
