<div class="pb-course-wrapper pb-container"> 

  <div class="row">
    <div class="col-md-9 col-md-push-3">
      <div class="course-video-wrapper">
        <%= youtube_embed(@customized_concept.video) %>
      </div>
      <nav>
        <ul class="pager">
          <li><%= link_to("上一個觀念", course_customized_concept_path(@course, @prev_concept)) if @prev_concept%></li>
          <li><%= link_to("下一個觀念", course_customized_concept_path(@course, @next_concept)) if @next_concept%></li>
        </ul>
      </nav>
      <div class="course-options">
        <div class="button-wrapper">
          <%= link_to("顯示講義", @customized_concept.lecture.url, class: "course-btn") if @customized_concept.lecture? %>
        </div>
        <div class="button-wrapper">
          <%= link_to("開始自我挑戰", new_customized_concept_test_attempt_path(@customized_concept), class: "course-btn") if @customized_concept.tests.count != 0 %>
        </div>
        
        <%= link_to("開始自我挑戰2", new_customized_concept_test_paper_path(@customized_concept), class: "course-btn") if @customized_concept.test_paper_questions.count != 0 %>
      </div>
    </div>
    <div class="col-md-3 col-md-pull-9">
      <p id="notice"><%= notice %></p>
      
      <% if @group %>
        <%=link_to group_course_path(@group, @course) do %> 
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 課程首頁
        <% end %>
      <% else %>
        <%=link_to course_path(@course) do %> 
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 課程首頁
        <% end %>
      <% end %>

      <h2 class="course-title">
        <%= @customized_concept.title %>
      </h2>

      <h4>
        <%= @customized_concept.description %>
      </h4>

      <%= render 'customized_concepts/index', locals: {customized_concepts: @customized_concepts} %>
    </div>
  </div>



</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">已通過自我挑戰</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default"><%= link_to("前往下一個觀念", course_customized_concept_path(@course, @next_concept)) if @next_concept%></button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>  
  $(document).ready(function() {
    if($("#notice").html().indexOf("Successfully pass") >= 0) {
      $('#myModal').modal();
    }
  });
</script>
