<div class="pb-course-wrapper pb-container"> 

  <div class="row">
    <div class="col-md-9 col-md-push-3">
      <%= show_video_or_not(@customized_concept) %>
      <%= show_collect_video_button(@customized_concept) %>
      <nav>
        <ul class="pager">
          <li><%= link_to("上一個觀念", course_customized_concept_path(@course, @prev_concept)) if @prev_concept%></li>
          <li><%= link_to("下一個觀念", course_customized_concept_path(@course, @next_concept)) if @next_concept%></li>
        </ul>
      </nav>
      <div class="course-options">
        <%= render partial: "lecture_partial", locals: {concept: @customized_concept} %>
        <div class="button-wrapper">
          <%= link_to("開始自我挑戰", new_customized_concept_test_attempt_path(@customized_concept), class: "course-btn") if @customized_concept.tests.count != 0 %>
        </div>
        <div class="button-wrapper">
          <%= link_to("開始自我挑戰", new_customized_concept_test_paper_path(@customized_concept), class: "course-btn") if @customized_concept.test_paper_questions.count != 0 %>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-pull-9">
      <p id="notice"><%= notice %></p>
      
      <% if @group %>
        <%=link_to group_course_path(@group, @course) do %> 
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 課程首頁
        <% end %>
      <% else %>
        <%=link_to course_path(@course) do %> 
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 課程首頁
        <% end %>
      <% end %>

      <h2 class="course-title">
        <%= @customized_concept.title %>
      </h2>

      <h4>
        <%= @customized_concept.description %>
      </h4>

      <%= render 'customized_concepts/index', locals: {customized_concepts: @customized_concepts} %>
    </div>
  </div>



</div>

<!-- VIDEO MODAL -->


<div class="modal fade collect_video_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="modal-title" id="myModalLabel">收藏影片</h3>
      <div class="modal-body">
          <%= simple_form_for(@collect_video, url: collect_videos_path, method: "post") do |f| %>
            <%= f.input :user_id, as: :hidden%>
            <%= f.input :title, placeholder: '輸入此影片的名稱..' %>
            <%= f.input :url, input_html: { value: @customized_concept.video } %>
            <%= f.submit '保存', class: "btn btn-primary" %>
            <%= hidden_field_tag :customized_concept_id, @customized_concept.id %>
            <%= hidden_field_tag :course_id, @course.id %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<!-- END VIDEO MODAL -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if @next_concept %>
          <h4 class="modal-title" id="myModalLabel">已通過自我挑戰 </h4>
          <div class="modal-body">
            <p></p>
          </div>
        <% else %>
          <h4 class="modal-title" id="myModalLabel">恭喜完成此課程所有觀念挑戰</h4>
        <% end %>
        
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% if @next_concept %>
          <button type="button" class="btn btn-default"><%= link_to("前往下一個觀念", course_customized_concept_path(@course, @next_concept))%></button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>  
  $(document).ready(function() {
    if($("#notice").html().indexOf("Successfully pass") >= 0) {
      $('#myModal').modal();
    }

    if($("#notice").html().indexOf("恭喜一次通過測驗") >= 0) {
      $('.modal-body p').text($('#notice').text());
      $('#myModal').modal();
    }

  });
</script>
