<div class="pb-course-wrapper pb-container"> 

  <div class="row">
    <div class="col-md-9 col-md-push-3">
      <div class="course-video-wrapper">
        <%= youtube_embed(@customized_concept.video) %>
      </div>
      <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>
      <div class="course-options">
        <div class="button-wrapper">
          <a href="#" class="course-btn">顯示講義</a>
        </div>
        <div class="button-wrapper">
          <%= link_to("開始自我挑戰", customized_concept_tests_path(@customized_concept), class: "course-btn") %>
        </div>
        
      </div>
    </div>
    <div class="col-md-3 col-md-pull-9">
      <p id="notice"><%= notice %></p>
      <%= link_to("編輯", edit_course_customized_concept_path(@course, @customized_concept)) %>
      <h2 class="course-title">
        <%= @customized_concept.title %>
      </h2>

      <h4>
        <%= @customized_concept.description %>
      </h4>

      <%= render 'customized_concepts/index', locals: {customized_concepts: @customized_concepts} %>
    </div>
  </div>



</div>



