<div class="pb-test-wrapper pb-container">
  <h2 class="test-title">自我挑戰</h2>

  <div class="row">
    <div class="col-md-2">
      <%= simple_form_for(@test_paper) do |f| %>
      <%= f.error_notification %>
      <%= f.fields_for :paper_answer_records do |a| %>
        <%= a.input :test, as: :hidden%>
        <%= a.input :error_times, as: :hidden %>
      <% end %>
      <div class="form-inputs">
        <%= f.input :customized_concept_id, as: :hidden %>
        <%= f.input :user, as: :hidden %>
        <%= f.input :retry_time, as: :hidden %>
        <%= f.input :test_time_sec, as: :hidden %>
      </div>

      <% @options.each_with_index do |option, index| %>
        <div class="form-inputs">
          <% if @error_test && @error_test.include?(option.question_number) %>
            <div class="error">
              <p> 第 <%= option.question_number %> 題 </p>
              <% if params[:select_answers] %>
                <%= collection_select(:select_answers, :"#{option.question_number}", SelectOption.all, :number, :label, prompt: "請選擇", selected: params[:select_answers][:"#{option.question_number}"])%>
                <% if params[:skip] && params[:skip].include?(option.question_number.to_s) %>
                  <%= check_box_tag("skip[#{option.question_number}]", 1,1) %>
                <% else %>
                  <%= check_box_tag("skip[#{option.question_number}]") %>
                <% end %>
                <%= label_tag("skip[#{option.question_number}]", "想不出來或題目有錯") %>
              <% else %>
                <%= collection_select(:select_answers, :"#{option.question_number}", SelectOption.all, :number, :label, prompt: "請選擇")%>
              <% end %>
              
            </div>
          <% else %>
            <div>
              <p> 第 <%= option.question_number %>題 </p>
              <% if params[:select_answers] %>
                <%= collection_select(:select_answers, :"#{option.question_number}", SelectOption.all, :number, :label, prompt: "請選擇", selected: params[:select_answers][:"#{option.question_number}"])%>
                <% if params[:skip] && params[:skip].include?(option.question_number.to_s) %>
                  <%= check_box_tag("skip[#{option.question_number}]", 1,1) %>
                  <%= label_tag("skip[#{option.question_number}]", "想不出來或題目有錯") %>
                <% end %>
                
              <% else %>
                <%= collection_select(:select_answers, :"#{option.question_number}", SelectOption.all, :number, :label, prompt: "請選擇")%>
              <% end %>
            </div>
          <% end %>

        </div>
      <% end %>

      <div class="form-actions">
        <%= f.button :submit, "送出答案" %>
      </div>
    <% end %>
    </div>

    <div class="col-md-10">
      <iframe src=<%= @question_url %> width="900" height="780" style="border: none;"> </iframe>
    </div>
    
    
  </div>
  
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $(".error").addClass("alert alert-danger");
  });

</script>

<script>
  $(document).ready(function() {
    $(':input').each(function(){
      var $this = $(this),
      $label = $this.siblings( "label[for=" + $this.attr( "id" ) + "]" );
       $this.add($label).wrapAll( '<div class="funkyradio-default">' );
    });
  });
</script>
