<div class="pb-test-wrapper pb-container">
  <h2 class="test-title">自我挑戰</h2>

  <div class="row">
    <div class="col-md-2">
      <%= simple_form_for(@test_paper) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :customized_concept_id, as: :hidden %>
        <%= f.input :user, as: :hidden %>
      </div>

      <% @options.each_with_index do |option, index| %>
      <div class="form-inputs">
        <% if @error_test && @error_test.include?(index+1) %>
          <div class="error">
            <p> 第 <%= index+1 %>題
            <% if params[:select_answers] %>
              <%= collection_select(:select_answers, :"#{index+1}", SelectOption.all, :number, :label, prompt: "請選擇", selected: params[:select_answers][:"#{(index+1).to_i}"])%>
            <% else %>
              <%= collection_select(:select_answers, :"#{index+1}", SelectOption.all, :number, :label, prompt: "請選擇")%>
            <% end %>
            
          </div>
        <% else %>
          <div>
            <p> 第 <%= index+1 %>題
            <% if params[:select_answers] %>
              <%= collection_select(:select_answers, :"#{index+1}", SelectOption.all, :number, :label, prompt: "請選擇", selected: params[:select_answers][:"#{(index+1).to_i}"])%>
            <% else %>
              <%= collection_select(:select_answers, :"#{index+1}", SelectOption.all, :number, :label, prompt: "請選擇")%>
            <% end %>
          </div>
        <% end %>
      </div>
      <% end %>

      <div class="form-actions">
        <%= f.button :submit, "送出答案" %>
      </div>
    <% end %>
    </div>

    <div class="col-md-10">
      <iframe src=<%= @question_url %> width="900" height="780" style="border: none;"> </iframe>
    </div>
    
    
  </div>
  
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $(".error").addClass("alert alert-danger");
  });

</script>

<script>
  $(document).ready(function() {
    $(':input').each(function(){
      var $this = $(this),
      $label = $this.siblings( "label[for=" + $this.attr( "id" ) + "]" );
       $this.add($label).wrapAll( '<div class="funkyradio-default">' );
    });
  });
</script>