<%= link_to("新增觀念", new_course_customized_concept_path(@course), 'data-toggle' => "modal", 'data-target' => "#myModal", class: "btn btn-default", remote: true) %>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>名稱</th>
			<th>觀念描述</th>
			<th>講義 </th>
			<th>考題數量 </th>
			<th>點數</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @customized_concepts.each do |customized_concept| %>
			<tr>
				<td><%= customized_concept.title %></td>
				<td><%= customized_concept.description %></td>
				<td><%= link_to("顯示講義", customized_concept.lecture.url) if customized_concept.lecture.url != nil%></td>
				<td>
					<% if customized_concept.test_paper_questions.first != nil %>
						<%= customized_concept.test_paper_questions.first.test_paper_options.count %>
					<% else %>
						<%= customized_concept.tests.count %> 
					<% end %>
				</td>
				<td><%= customized_concept.point %></td>
				<td><%= link_to '建立考題', new_customized_concept_test_paper_question_path(customized_concept, group: @group), class: "btn btn-default" %></td>
        <td><%= link_to '題庫出題', build_by_database_path(customized_concept) %> </td>
				<td><%= link_to 'Edit', edit_course_customized_concept_path(customized_concept.course_id, customized_concept), class: "btn btn-default" %></td>
				<td><%= link_to '刪除', course_customized_concept_path(customized_concept.course_id, customized_concept), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<!-- Concept new form Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">建立新觀念</h4>
      </div>
      <div class="modal-body">
        <div class="concept-new-form">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

