
<h3><%= @group.name %></h3>
<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>P幣</th>
      <th>Email</th>
      <th>Last Login </th>
    </tr>
    <% @group.students.each do |s| %>
    <tr>
      <% user = User.find(s.user_id) %>
      <td> <%= s.username %> </td>
      <td> <%= s.school %> </td>
      <td> <%= s.point %> </td>
      <td> <%= user.email %> </td>
      <td> <%= user.last_sign_in_at %> </td>
    </tr>
    <% end %>
  </tbody>
</table>





