

<div class="pb-index-wrapper pb-container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-8">
      <h2>
        <%= @course.title %>
      </h2>
    </div>
  </div>

  <h4>
    <strong>Overview:</strong>
    <%= @course.overview %>
  </h4>

  <p>
    <strong>Teacher:</strong>
    <%= @course.teacher_id %>
  </p>


  <div class="row">
    <div class="col-md-9 col-md-push-3">
      <h3><%= @group.name %></h3>
      <table class="table table-striped table-hover">
        <tbody>
          <tr>
            <th>Name</th>
            <th>School</th>
            <th>Last Login </th>
          </tr>
          <% @group.students.each do |s| %>
          <tr>
            <td> <%= s.username %></td>
            <td> <%= s.school %> </td>
            <td> 2015-06-03 06:47:47 </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 col-md-pull-9">
      <div class="list-group">
        <%= render 'course_left_bar' %>
      </div>
    </div>
  </div>


</div>



