

<div class="pb-index-wrapper pb-container">
  <p id="notice"><%= notice %></p>

  <%= render "course_back_link" %>

  <div class="row">
    <div class="col-md-8">
      <h2>
        <strong>Title:</strong>
        <%= @course.title %>
      </h2>
    </div>
  </div>

  <h4>
    <strong>Overview:</strong>
    <%= @course.overview %>
  </h4>

  <p>
    <strong>Teacher:</strong>
    <%= @course.teacher_id %>
  </p>


  <div class="row">

    <div class="col-md-9 col-md-push-3">
      

      <table class="table table-striped table-hover .table-bordered", id="report">
        <thead>
          <h1> Teacher : <%= @teacher.username %> </h1>
          <tr>
            <th>學生</th>
            <% @concepts.each do |c| %>
              <th> <%= c.title %> </th> 
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @students.each do |student| %>
          <tr>
            <td> <%= student.username %></td>
            <% @concepts.each do |c| %>
              <td><%= link_to(c.test_attempts.where(user: student.user_id).count , customized_concept_student_detail_path(c, student.user_id)) %></td>
            <% end %>
          <tr>
          <% end %>
        </tbody>
      </table>
      
      
    </div>
    <div class="col-md-3 col-md-pull-9">
      <div class="list-group">
        <%= render 'course_left_bar' %>
      </div>
    </div>
  </div>

</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
    // $('#report td:even').css({ backgroundColor: "#5cb85c", color: "white" });
    
    $('#report td').each(function(){
      var n = $(this).text();
      // one time pass
      if (n == 1){ 
        $(this).css({ backgroundColor: "#5cb85c", color: "white" });
      }
      // over two time pass
      if (n >= 2){ 
        $(this).css({ backgroundColor: "#d9534f", color: "white" });
      }
    });

  });
</script>



