<div class="pb-index-wrapper pb-container">
  <p id="notice"><%= notice %></p>
  <%= render "course_back_link" %>
  <!-- End Teacher Back Link -->

  <div class="row">
    <div class="col-md-8">
      <h2>
        <%= @course.title %>
      </h2>
    </div>
  </div>

  <h4>
    <strong>Overview:</strong>
    <%= @course.overview %>
  </h4>

  <p>
    <strong>Teacher:</strong>
    <%= @course.teacher_id %>
  </p>


  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <%= render 'course_left_bar' %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="course-info-display">
        <% if @group%>
          <%= render_course_right_info(@course, @customized_concepts, @group) %>
        <% else %>
          <%= render_course_right_info(@course, @customized_concepts, @group) %>
        <% end %>
      </div>
    </div>

    
  </div>


</div>




