<div class="pb-index-wrapper pb-container">
  <p id="notice"><%= notice %></p>

  

  <div class="row">
    <div class="col-md-8">
      <h2>
        <strong>Title:</strong>
        <%= @course.title %>
      </h2>
    </div>
  </div>

  <h4>
    <strong>Overview:</strong>
    <%= @course.overview %>
  </h4>

  <p>
    <strong>Teacher:</strong>
    <%= @course.teacher_id %>
  </p>


  <div class="row">
    <div class="col-md-9 col-md-push-3">
      <h3> 觀念地圖 </h3>
      <%= render 'customized_concepts/index', locals: {customized_concepts: @customized_concepts} %>
    </div>
    <div class="col-md-3 col-md-pull-9">
      <div class="list-group">
        <%= link_to("課程總覽", courses_path, class: "list-group-item active") %>
        <%= link_to("新增觀念", new_course_customized_concept_path(@course), class: "list-group-item") %>
      </div>
    </div>
  </div>

  
</div>


