<div class="pb-index-wrapper pb-container">
  <p id="notice"><%= notice %></p>
  <%= render "course_back_link" %>
  <!-- End Teacher Back Link -->

  <div class="row">
    <div class="col-md-8">
      <h2>
        <%= @course.title %>
      </h2>
    </div>
  </div>

  <h4>
    <strong>Overview:</strong>
    <%= @course.overview %>
  </h4>

  <p>
    <strong>Teacher:</strong>
    <%= @course.teacher_id %>
  </p>


  <div class="row">
    <div class="col-md-9 col-md-push-3">
      <h3> 觀念地圖 </h3>
      <% if @group%>
        <%= render  partial: "courses/list_customized_concept", locals: {customized_concepts: @customized_concepts, group: @group} %>
      <% else %>
        <%= render partial: 'courses/list_customized_concept', locals: {customized_concepts: @customized_concepts} %>
      <% end %>
    </div>
    <div class="col-md-3 col-md-pull-9">
      <div class="list-group">
        <%= render 'course_left_bar' %>
      </div>
    </div>
  </div>


</div>




