<!-- header -->
<nav class="pumpbox-header-wrapper navbar navbar-default">
  <div class="pb-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
        <%= link_to 'Pumpbox', authenticated_root_path, class: "navbar-brand" %>
      <% else %>
        <%= link_to 'Pumpbox', unauthenticated_root_path, class: "navbar-brand" %>
      <% end %>
      
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-right">
        
        <% if user_signed_in? %> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Hello, 
            <% if current_user.student %> 
              <%= current_user.student.username %>
            <% else %>
              <%= current_user.teacher.username %>
            <% end %>
            <span class="caret"></span>

            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to edit_personal_profile_path(current_user) do %>
                  <i class="fa fa-edit"></i> 編輯個人資料
                <% end %>
              </li>
              <!-- other function here -->
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do%>
                  <i class="fa fa-sign-out"></i> 登出
                <% end %>
              </li>
            </ul>
          </li>
        <% else %> 
          <li>
            <%= link_to new_user_session_path do%> 
              <i class="fa fa-sign-in"></i> 登入或註冊
            <% end %>
          </li>   
        <% end %>  

      </ul>
    </div><!-- e/o /.navbar-collapse -->
  </div><!-- e/o /.container-fluid -->
</nav>



